body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: Helvetica
}

h1, h3, h4 {
    color: rgb(164, 0, 0);
}

a, .link {
    color: rgb(164, 0, 0);
}

a:hover {
    color: rgb(82, 0, 0);
}

#header {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#photo {
    max-height: 45vh;
    border-radius: 30%;
    padding: 1rem;
}

#contact {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}

.icon {
    padding: 0.4rem;
}
#bio, #education, #technical, #projects, #interests, #experience {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.63);

    color: aliceblue;
    padding: 1.4rem;
}
